*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
    width: 100%;
}

.line{
    background-color: rgb(90, 90, 90);
    height:10px;
    width:100%;
}

.top{
    display: flex;
}

.logo, .logo>img{
width: 200px;
}
.logo{
    padding-left: 30px;
}

select{
    background: transparent;
    color:white;
    border: 1px soild white;
    width: 100px;
    height:40px;
    border-radius: 3px;
    font-size: 15px;
}

button{
    background: red;
    color: white;
    border:none;
}

.login{
    width: 100px;
    height:40px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 20px;
}

.right{
    position:absolute;
    right: 30px;
    top:20px;
}

.movie{
    width:500px;
    text-align: center;
    color:white;
    font-size: 2em;
    margin:150px auto 20px;
}

header>p{
    color:white;
    text-align: center;
    margin-top:30px
}

header>h2{
    font-weight: lighter;
    color:white;
    text-align: center;

}

.flex{
    display: flex;
}

.div_email{
    width:fit-content;
    margin: 20px auto;
    text-align: center;
}
.email{
    width:500px;
    height:60px;
    padding-left:10px; 
}
.start{
    text-align: center;
    width:150px;
    font-size:20px;

}
main>div{
    width:100%;
    height:500px;
    background-color: black;
    color:white;    

}
.container{
    width:70%;
    padding-top:50px;
    width:100%;
    padding-left: 13%;
}
.m_text{
    width:40%;
    height:100%;
    padding-left: 5%;
    padding-top:50px;

    box-sizing: border-box;

}
.m_text>h1{
    font-size:3em
} 
.m_text>p{
    font-size: 1.8em;
}

.question{
    height:900px
}
.question>p{
    text-align: center;
    font-size: 1.2em;
    padding-top: 40px;
}

.ans{
    background-color: rgb(65, 65, 65);
    width:800px;
    height:70px;
    margin:10px auto;
    box-sizing: border-box;
    padding:15px 30px;
    position: relative;
}
.question>h1{
    font-size: 50px;
    text-align: center;
    padding:60px
}
.ans>p{
    width:fit-content;
    font-size:1.5em;
}

.plus{
    position:absolute;
    right:20px;
}

footer{
    color:rgb(88, 88, 88);
    background-color: black;
}

a{
    color:rgb(88, 88, 88);
    text-decoration: none;

}
a:hover{
    border-bottom: 1px solid rgb(88, 88, 88);
}
.footercontainer{
    width:1000px;
    margin:0 auto;
    padding:50px 20px;
}

.footercontainer>p{
    padding-bottom: 30px;
}
.footercontainer>select{
    color:rgb(88, 88, 88) !important;
    margin:20px 0;

}
.often> p{
    width:300px;
    padding-bottom: 10px;

    
}
